.git
.gitignore
.vscode
**/tsconfig.json
**/tsconfig.tsbuildinfo
**/*.ts
**/src/**
**/.eslintrc.json
client/node_modules/
server/node_modules/
!server/node_modules/web-tree-sitter/**
esbuild.js
!server/out/server.js
!client/out/extension.js
!server/wasm/tree-sitter-pinescript.wasm
!server/data/definitions.json
!syntaxes/pinescript.tmLanguage.json
!language-configuration.json
!package.json
!README.md
!Agents.MD
!resources/**
!snippets/**
